## Statistical Inferences about 2 populations

## Usecase 
- E-commerce analyst
- Teacher

The problems that can be solved using the approach are:
- To estimate the difference between 2 sample mean
- Whether ths 2 population samples comes from the same population
- To determine whether 1 population is  < > the other population

## The central limit theorem

The central limit theorem states that the differences in 2 sample mean is normally distributed for larger sample size. Regardles of the population distribution

## $$\mu_(\bar{x_{1}}-\bar{x_{2}}) = \mu_{1}- \mu_{2}$$

## If the population variance is known, z formula would be

## $$z = \frac{(\bar{x_{1}}-\bar{x_{2}})-(\mu_{1}-\mu_{2})}{\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2})}$$

## Hypothesis Formulation

Example 1: where the analyst wanted to check whether mean of the 2 category sales are different

$$H_{o} => \mu_{1} = \mu_{2}$$
$$H_{a} => \mu_{1} \ne \mu_{2}$$

but the other way to look at this hypothesis through a statistitian

$$H_{o} => \mu_{1} - \mu_{2} = \delta$$
$$H_{a} => \mu_{1} - \mu_{2} \ne \delta$$

Most of the time analyst would only be interested to know if there is any change or diff

$H_{o} => \mu_{1} - \mu_{2} = 0$   #mean are same

$H_{a} => \mu_{1} - \mu_{2} \ne 0$  #mean are not same

## Confidence Interval

But by how much of difference whether positive or negative to get this info we look into confidence interval approach

### $$(\bar{x_{1}}-\bar{x_{2}}) -z(\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2}) \space\space\space \underline{<} \mu_{1}-\mu_{2} \space\space\space\space \underline{<} \space\space\space (\bar{x_{1}}-\bar{x_{2}}) +z(\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2})$$

## Examples

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("Sample - Superstore.xls")
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [4]:
pd.pivot_table(data,index=['Sub-Category'],values='Sales',aggfunc='mean')

                    Sales
Sub-Category
Accessories    215.974604
Appliances     230.755710
Art             34.068834
Binders        133.560560
Bookcases      503.859633
Chairs         532.332420
Copiers       2198.941618
Envelopes       64.867724
Fasteners       13.936774
Furnishings     95.825668
Labels          34.303055
Machines      1645.553313
Paper           57.284092
Phones         371.211534
Storage        264.590553
Supplies       245.650200
Tables         648.794771

In [5]:
data.groupby('Sub-Category').agg({'Sales':'mean','Profit':'count'})

                    Sales  Profit
Sub-Category
Accessories    215.974604     775
Appliances     230.755710     466
Art             34.068834     796
Binders        133.560560    1523
Bookcases      503.859633     228
Chairs         532.332420     617
Copiers       2198.941618      68
Envelopes       64.867724     254
Fasteners       13.936774     217
Furnishings     95.825668     957
Labels          34.303055     364
Machines      1645.553313     115
Paper           57.284092    1370
Phones         371.211534     889
Storage        264.590553     846
Supplies       245.650200     190
Tables         648.794771     319

In [6]:
appSalesData=data[data['Sub-Category']=='Appliances']['Sales'].values

In [7]:
accSalesData=data[data['Sub-Category']=='Accessories']['Sales'].values

In [8]:
sampleofAppSalesData=appSalesData[np.argsort(np.random.random_sample(len(appSalesData)))[:70]]

In [9]:
sampleofAccSalesData=accSalesData[np.argsort(np.random.random_sample(len(accSalesData)))[:70]]

In [10]:
sampleofAppSalesData

array([6.06900e+01, 3.52080e+01, 9.78400e+01, 1.55600e+01, 5.20000e+00,
       3.33056e+02, 3.87136e+02, 3.76800e+01, 6.78400e+01, 6.38730e+02,
       1.11760e+01, 6.99200e+00, 8.45728e+02, 9.42784e+02, 2.39400e+00,
       1.06960e+02, 4.00800e+02, 7.78000e+00, 1.74800e+01, 4.31000e+01,
       4.63248e+02, 1.57920e+02, 4.35600e+00, 1.77980e+02, 1.31100e+01,
       4.05400e+01, 3.56790e+02, 7.61200e+01, 2.59600e+01, 1.43360e+01,
       6.43840e+01, 5.66500e+01, 4.35600e+01, 1.03920e+02, 5.76800e+00,
       1.24586e+03, 8.10800e+01, 3.76740e+02, 1.79200e+01, 1.29920e+01,
       2.50260e+02, 1.55600e+00, 2.09300e+02, 1.52940e+02, 1.52940e+02,
       2.70720e+02, 1.13920e+02, 3.89056e+02, 1.50325e+03, 5.76800e+01,
       2.60000e+00, 6.09840e+01, 4.87920e+01, 9.30320e+01, 2.61360e+01,
       4.83600e+00, 1.39700e+01, 1.87200e+01, 2.35950e+02, 1.92416e+03,
       2.80800e+01, 3.94816e+02, 3.39900e+01, 1.67040e+01, 3.24320e+01,
       4.47696e+02, 4.32600e+01, 8.71200e+00, 3.55200e+00, 3.62940e+02])

In [11]:
sampleofAccSalesData

array([1.50200e+01, 4.19400e+01, 2.59980e+02, 9.90000e-01, 3.98160e+01,
       9.81600e+01, 1.13970e+02, 9.93900e+01, 1.11930e+02, 2.39970e+02,
       7.92000e+00, 6.39600e+01, 5.43840e+01, 4.50000e+01, 7.50000e+01,
       2.37600e+00, 2.24991e+03, 9.99900e+01, 1.43730e+02, 1.91976e+02,
       4.77900e+01, 7.99840e+01, 1.06500e+02, 1.01268e+03, 1.52160e+01,
       2.47800e+02, 4.74960e+01, 1.00000e+02, 4.79970e+02, 5.27920e+02,
       9.99800e+01, 1.19980e+02, 1.90400e+01, 1.29900e+01, 1.70240e+02,
       9.99900e+01, 1.64995e+03, 3.99840e+01, 9.59840e+01, 4.31928e+02,
       4.79700e+01, 1.69064e+02, 3.90000e+01, 5.99700e+01, 2.99970e+02,
       4.17200e+01, 1.31996e+03, 1.20000e+02, 4.79940e+02, 2.76000e+01,
       3.31800e+01, 9.99800e+01, 7.20000e+01, 1.04970e+02, 7.19760e+01,
       5.00000e+01, 4.99800e+01, 4.47930e+02, 8.71680e+01, 4.08744e+02,
       2.54970e+02, 5.32500e+01, 5.99900e+02, 2.88000e+02, 1.03840e+01,
       3.83952e+02, 8.52000e+01, 2.03700e+01, 1.96752e+02, 5.85800e+01])

### statistics of 2 example

### Steps of hypothesis testing

- step 1: create the hypothesis (Null and Alternate Hypothesis)
- Step 2: Appropriate statistical test
- step 3: let set $\alpha$ as .001  area of rejection   z score will be two sided test  critical z value 3.09
- step 4: Get data
- Step 5: Analyze

our hypothesis > $$H_{o} => \mu_{1} - \mu_{2} = 0$$   
$$H_{a} => \mu_{1} - \mu_{2} \ne 0$$

In [12]:
varianceofPopApp=np.var(appSalesData)
varianceofPopAcc=np.var(accSalesData)

meanOfSampApp=np.mean(sampleofAppSalesData)
meanOfSampAcc=np.mean(sampleofAccSalesData)

n1=70
n2=70

 $$z = \frac{(\bar{x_{1}}-\bar{x_{2}})-(\mu_{1}-\mu_{2})}{\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2})}$$

In [13]:
import math
(meanOfSampApp-meanOfSampAcc) - (0) / (math.sqrt((varianceofPopApp/70)+(varianceofPopAcc/70)))

-14.813742857142842

## 39.66 > 3.09 reject the null hypothesis

## Confidence interval estimation

lets take the same problem but in different perspective

In [14]:
z=3.09

 $$(\bar{x_{1}}-\bar{x_{2}}) -z(\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2}) \space\space\space \underline{<} \mu_{1}-\mu_{2} \space\space\space\space \underline{<} \space\space\space (\bar{x_{1}}-\bar{x_{2}}) -z(\sqrt(\frac{\sigma^2}{n1}+\frac{\sigma^2}{n2})$$

In [15]:
'{} <= mu1 - mu2 <= {}'.format((meanOfSampApp-meanOfSampAcc)- z*(math.sqrt((varianceofPopApp/70)+(varianceofPopAcc/70))) ,(meanOfSampApp-meanOfSampAcc)+ z*(math.sqrt((varianceofPopApp/70)+(varianceofPopAcc/70))) )

'-204.22198284277383 <= mu1 - mu2 <= 174.59449712848814'

In [16]:
z=1.98

In [17]:
'{} <= mu1 - mu2 <= {}'.format((meanOfSampApp-meanOfSampAcc)- z*(math.sqrt((varianceofPopApp/70)+(varianceofPopAcc/70))) ,(meanOfSampApp-meanOfSampAcc)+ z*(math.sqrt((varianceofPopApp/70)+(varianceofPopAcc/70))) )

'-136.18212964405203 <= mu1 - mu2 <= 106.55464392976634'

#### the 0 falls in between hence there is a chance to get no difference in the mean of 2 categories

## If we do not have info about the Populations

## t-Test for inference about 2 populations

In [18]:
import scipy.stats as st

## st.ttest_ind

This is a two-sided test for the null hypothesis that 2 independent samples
have identical average (expected) values. This test assumes that the
populations have identical variances by default

- a, b : array_like
    The arrays must have the same shape, except in the dimension
    corresponding to `axis` (the first, by default).
- axis : int or None, optional
    Axis along which to compute test. If None, compute over the whole
    arrays, `a`, and `b`.
- equal_var : bool, optional
    If True (default), perform a standard independent 2 sample test
    that assumes equal population variances 
    If False, perform Welch's t-test, which does not assume equal
    population variance 
- nan_policy : {'propagate', 'raise', 'omit'}, optional
    Defines how to handle when input contains nan. 'propagate' returns nan,
    'raise' throws an error, 'omit' performs the calculations ignoring nan
    values. Default is 'propagate'.

In [19]:
st.ttest_ind(sampleofAccSalesData,sampleofAppSalesData,equal_var=False)  #at aplha =.05 (default)

Ttest_indResult(statistic=0.24002760391540018, pvalue=0.810666571411287)

### Fail to  Reject the Null Hypothesis

## st.ttest_ind_from_stats

T-test for means of two independent samples from descriptive statistics.

This is a two-sided test for the null hypothesis that two independent samples have identical average (expected) values.

- mean1 : array_like
    The mean(s) of sample 1.
- std1 : array_like
    The standard deviation(s) of sample 1.
- nobs1 : array_like
    The number(s) of observations of sample 1.
- mean2 : array_like
    The mean(s) of sample 2
- std2 : array_like
    The standard deviations(s) of sample 2.
- nobs2 : array_like
    The number(s) of observations of sample 2.
- equal_var : bool, optional
    If True (default), perform a standard independent 2 sample test
    that assumes equal population variances
    If False, perform Welch's t-test, which does not assume equal
    population variance

In [20]:
mean1=sampleofAccSalesData.mean()
std1=sampleofAccSalesData.std()
nob1=len(sampleofAccSalesData)
mean2=sampleofAppSalesData.mean()
std2=sampleofAppSalesData.var()
nob2=len(sampleofAppSalesData)

In [21]:
st.ttest_ind_from_stats(mean1,
    std1,
    nob1,
    mean2,
    std2,
    nob2,)

Ttest_indResult(statistic=0.0010095398730472292, pvalue=0.9991959617580164)